body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background-color:#000000;
  color: #000000;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

#particles-js{
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: 1;
}

.fantasma{
  width: 140px;
  height: 160px;
  background-color: #f2f2f2;
  border-radius: 70px 70px 0 0;
  position: relative;
  cursor: pointer;
  animation: floating 2s infinite ease-in-out;
  z-index: 98;
}

@keyframes floating{
  50%{
    transform: translateY(-30px);
  }
}

.cara{
  width: 100px;
  position: absolute;
  top: 60px;
  left: calc(50% - 50%);
}

.ojos{
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: ceneter;
  margin-bottom: 14px;
}

.ojos span{
  width: 24px;
  height: 24px;
  background-color: #000000;
  border-radius: 50%;
  transition: .3s linear;
}

.fantasma:hover .ojos span{
  height: 16px;
}

.boca{
  width: 40px;
  height: 20px;
  background-color: #000000;
  margin: auto;
  border-radius: 0 0 20px 20px;
  transition: .3s linear;
}

.fantasma:hover .boca{
  height: 12px;
}

.manos{
  width: 180px;
  position: absolute;
  left: -20px;
  top: 80px;
  display: flex;
  justify-content: space-between;
}

.manos span{
  width: 20px;
  height: 30px;
  background-color:#f2f2f2; 
}

.manos span:first-child{
  border-radius: 20px 0 0 20px;
}

.manos span:last-child{
  border-radius: 0 20px 20px 0;
}

.pies{
  position: absolute;
  width: 100%;
  bottom: -20px;
  display: flex;
}

.pies span{
  flex: 1;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 0 0 20px 20px;
}

.pies span:first-child{
  border-radius: 0 0 20px 12spx;
}
  /* Made by mangofuhrer © */
.pies span:last-child{
  border-radius: 0 0 12px 20px;
}


